<p>予約一覧</p>
<div>
  <table>
    <tr>
      <th>画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>料金</th>
      <th>登録日</th>
      <th></th>
      <th>id</th>
      <th>user_id</th>
    </tr>
    <%# <% @reservation.each do |f| %>
      <%# <%end%>
    </table>
  </div>
