<p>検索結果表示</p>

<div>
  <% if @area_and_keyword != nil %>
    <% @area_and_keyword.each do |f| %>
      <%= f.hotel_name %>
      <%= f.hotel_detail %>
    <% end %>
  <% else %>
    <p>検索結果はありません。</p>
  <% end %>
</div>
    
 
   




