
.menu_list {
  position:absolute;
  z-index: 1;
  left: 80%;
  top: 70px;
  
  display: none;
  background-color: lightgreen;
  border-radius: 20px;
  width: 120px;
  
}

.user_image {
  border-radius: 10px;
}
